<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <%= link_to 'Help improve the site on Github', 'https://github.com/Lockyy/pcmrating' %>
      </div>
      <div class="col-xs-6 right">
        <%= link_to 'r/pcmasterrace', 'http://www.reddit.com/r/pcmasterrace' %>
      </div>
    </div>
  </div>
</footer>