@import "common/mixins"
@import "common/variables"

.rating-form, .new-game-form, .authentication-form
  .images
    @include flexbox-centered-children
    margin-bottom: 45px

  input:not([type="checkbox"]):not([type="submit"]), textarea, select, button
    width: 100%
    margin-bottom: 20px

  input:not([type="checkbox"]):not([type="submit"]), select
    height: 35px
    background: transparent

  textarea
    height: 150px

  #error_explanation
    h2
      display: none

.authentication-form
  &.left, &.right
    border: 1px solid $border-color

  &.left
    padding-bottom: 20px
    -webkit-border-top-left-radius: 10px
    -webkit-border-bottom-left-radius: 10px
    -moz-border-radius-topleft: 10px
    -moz-border-radius-bottomleft: 10px
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px

  &.right
    border-left: none
    padding-bottom: 20px
    -webkit-border-top-right-radius: 10px
    -webkit-border-bottom-right-radius: 10px
    -moz-border-radius-topright: 10px
    -moz-border-radius-bottomright: 10px
    border-top-right-radius: 10px
    border-bottom-right-radius: 10px

.add-game-instructions
  img
    width: 100%

.btn.full-width
  width: 100%
  margin-top: 5px

.actions
  .btn
    margin-bottom: 15px